.wrapper {
  background-color: #fff;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;

  position: relative;
}

.tasksList {
  margin: 0;
  padding: 0;
}

.taskItem {
  border-bottom: 2px solid #EBEBEB;

  display: flex;
  justify-content: flex-start;

  font-size: 18px;
  list-style-type: none;
  padding: 15px 15px 60px;
}

.taskItem:last-child {
  border: none;
}

.taskItemStatus {
  align-self: center;
  width: 10%;
}

.tasksAbsent {
  color: black;
  font-size: 18px;
}

.checked {
  color: rgba(0, 0, 0, 0.3);
  font-family: 'AvenirNextCyr-Regular';
  font-size: 20px;
  margin-left: 15px;
  text-decoration: line-through;
}

.taskItemTitle {
  color: #000;
  font-family: 'AvenirNextCyr-Regular' !important;
  font-size: 20px;
  margin-left: 15px;
}