.footerWrapper {
  font-family: 'AvenirNext-UltraLight';

  max-width: 550px;
  width: 100%;

  position: relative;
}

.footerWrapper::before {
  background: #f8f8f8;
  border-radius: 0 0 1px 1px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  content: "";
  height: 6px;

  position: absolute;
  bottom: -6px;
  left: 3px;
  right: 3px;
}

.footerWrapper::after {
  background: #f1f1f1;
  border-radius: 0 0 1px 1px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  content: "";
  height: 6px;

  position: absolute;
  bottom: -12px;
  left: 5px;
  right: 5px;
}

.footer {
  background: #fff;
  border-radius: 1px !important;
  border-top: 2px solid #ebebeb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px 20px;
}

.filters {
  display: flex;
  gap: 10px;
}

.filters button {
  border: 1px solid transparent;
  padding: 4px 8px;
  background: none;
  cursor: pointer;
  border-radius: 4px;
  color: #555;
}

.filters button:hover {
  border-color: #ddd;
}

.filters button:focus {
  border: 1px solid #d4c4c4;
  outline: none;
}