@import url(https://db.onlinewebfonts.com/c/5a774fb0d936a5c77c616acc2192c8db?family=AvenirNextCyr-UltraLight);
@import url(https://db.onlinewebfonts.com/c/11d164da9b46e6f7955e396757e5ca70?family=AvenirNextCyr-Regular);

.container {
  background-color: #F5F5F5;
  font-family: 'AvenirNextCyr-UltraLight';
  margin: 30px auto;
  padding: 20px 15px 30px 15px;
  position: relative;
  text-align: center;
  width: 500px;
}

h1 {
  color: #E8D7D6;
  font-size: 70px;
  font-weight: normal;
  margin: 0 0 25px 0;
}

.title-input {
  align-self: flex-start;
  background: url('./assets/arrow-down-angle-svgrepo-com.svg') no-repeat left 15px center;
  border: none;
  border-bottom: 2px solid #EBEBEB;
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
  padding: 20px 20px 20px 50px;
  width: 100%;
}

.title-input-error {
  border: 1px solid red;
}

.title-input::placeholder {
  color: #E7E7E7;
  font-style: italic;
}

.task-item_rounded-checkbox {
  appearance: none;
  -webkit-appearance: none;

  background: none;

  border: 2px solid #ccc;
  border-radius: 50%;

  cursor: pointer;
  display: inline-block;

  height: 30px;
  margin: 0;
  padding: 0;
  position: relative;
  transition: 0.2s ease;
  width: 30px;
}

.task-item_rounded-checkbox:checked {
  border-color: #22c55e;
}

.task-item_rounded-checkbox::after {
  border: solid green;
  border-width: 0 2px 2px 0;

  content: "";
  height: 14px;
  opacity: 0;

  position: absolute;
  left: 9px;
  top: 3px;

  transform: rotate(45deg);
  transition: opacity 0.15s ease;
  width: 6px;
}

.task-item_rounded-checkbox:checked::after {
  opacity: 1;
}

.footer-wrapper {
  max-width: 550px;
  width: 100%;

  position: relative;
}

.footer-wrapper::before {
  background: #f8f8f8;
  border-radius: 0 0 1px 1px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  content: "";
  height: 6px;

  position: absolute;
  bottom: -6px;
  left: 3px;
  right: 3px;
}

.footer-wrapper::after {
  background: #f1f1f1;
  border-radius: 0 0 1px 1px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  content: "";
  height: 6px;

  position: absolute;
  bottom: -12px;
  left: 5px;
  right: 5px;
}

.footer {
  background: #fff;
  border-radius: 1px;
  border-top: 2px solid #ebebeb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px 20px;
}

.count {
  color: #555;
}

.filters {
  display: flex;
  gap: 10px;
}

.filters button {
  border: 1px solid transparent;
  padding: 4px 8px;
  background: none;
  cursor: pointer;
  border-radius: 4px;
  color: #555;
}

.filters button:hover {
  border-color: #ddd;
}

.filters button:focus {
  border: 1px solid #d4c4c4;
}

.clear {
  background: none;
  border: 1px solid #d4c4c4;
  border-radius: 4px;
  color: #999;
  cursor: pointer;
  padding: 4px 8px;
}

.error-message {
  color: red;
}