@import url(https://db.onlinewebfonts.com/c/5a774fb0d936a5c77c616acc2192c8db?family=AvenirNextCyr-UltraLight);
@import url(https://db.onlinewebfonts.com/c/11d164da9b46e6f7955e396757e5ca70?family=AvenirNextCyr-Regular);

.container {
  background-color: #F5F5F5;
  font-family: 'AvenirNextCyr-UltraLight';
  margin: 30px auto;
  padding: 20px 15px 30px 15px;
  position: relative;
  text-align: center;
  width: 500px;
}

h1 {
  color: #E8D7D6;
  font-size: 70px;
  font-weight: normal;
  margin: 0 0 25px 0;
}